[color]
	# color opts: normal, black, red, green, yellow, blue, magenta, cyan, or white
	ui = true
	interactive = auto
[user]
	email = DadykinAV@yandex.ru
	name = Alexandr Dadykin
[push]
	default = matching
[core]
	autocrlf = input
	editor = subl -n -w
[github]
	user = cetrix13
