snippet doc
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<title>Document</title>
		</head>
		<body>
			
		</body>
	</html>

snippet input
	<input type="text" name="#" placeholder="#">
snippet jquery
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
	
